#idPage {
	background-color: grey;
}

#idHeader {
	text-align: center;
	color: white;
	min-height: 100px;
	max-height: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#idContent {
	min-height: 500px;
}

#idFooter {
	max-height: 50px;
	text-align: center;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}